@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProBold";
    src: url("fonts/MyriadProBold/MyriadProBold.eot");
    src: url("fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.normal {
	font-family:MyriadProRegular;
	font-size: 62px; 
	font-weight: normal;
}

.bold {
	font-family: "MyriadProBold";
	font-size: 74.1px;
}

.small-bold {
	font-family: "MyriadProBold";
	font-size: 30px;
}
body {

}
.content {
	width:100%;
}

.column-left {
	float: left;
	width:50%;
	min-width: 550px;
	
}

.column-right {
	float: right;
	width: 50%;
	min-width: 550px;
}

.logo {
	padding-left: 23%;
}

.circle {
	padding-top: 19%;
	padding-left: 6%;
}

.circle1 {
	width:276px;
	height:276px;
	border-radius: 50%;
	background-color: #ffffff;
	border:1px solid #3f6fb6;
}

.circle2{
	position: relative;
	top:7%;
	left:7%;
	width: 240px;
	height:240px;
	border-radius: 50%;
	background-color: #3f6fb6;
}

.fullname {
	padding:0;
}

.fullname h1 {
	margin: 0;
}
.fullname .bold {
	padding-left: 23%;
	margin-top: -3%;
	letter-spacing: -1px;
}

.fullname .normal {
	padding-top: 4%;
	padding-left: 24%;
	letter-spacing: 3px;
}

.fullname .small-bold {
	
}

.bar {
	position: absolute;
	background-color: #3f6fb6;
}
.progress {
    background-color: #e6e6e6;
    border: 0;
    width: 80%;
    height: 18px;
}

