
@font-face {
    font-family: "MyriadProRegular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
}
@font-face {
    font-family: "MyriadProBold";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.normal {
    font-family: MyriadProRegular;
    font-size: 62px;
    font-weight: normal;
}
.bold {
    font-family: "MyriadProBold";
    font-size: 74.1px;
}
.small-bold {
    font-family: "MyriadProBold";
    font-size: 30px;
}
body {
}
.content {
    width: 100%;
}
.column-left {
    float: left;
    min-width: 550px;
    width: 50%;
}
.column-right {
    float: right;
    min-width: 550px;
    width: 50%;
}
.logo {
    height: 276px;
    margin-left: 185px;
    margin-top: 100px;
    width: 276px;
}
.circle-outer {
    background-color: #ffffff;
    border: 1px solid #3f6fb6;
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
}
.circle-inner {
    background-color: #3f6fb6;
    border-radius: 50%;
    bottom: 0;
    height: 90%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
}
.fullname h1 {
    margin: 0;
}
.fullname {
    letter-spacing: 3px;
    line-height: 62px;
    margin-left: -17px;
    margin-top: 36px;
    text-align: center;
    vertical-align: middle;
}
.fullname .bold {
    letter-spacing: -3px;
}
.fullname .small-bold {
    letter-spacing: -1px;
}
.title .circle {
    float: left;
    height: 85px;
    width: 85px;
}
.title .circle-inner {
    background-image: url("images/profile.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50% auto;
}
.title {
    line-height: 81px;
}
.profile {
    margin-left: 66px;
    margin-top: 80px;
}
.profile .bold, .contact .bold, .skills .bold {
    color: #3f6fb6;
    font-size: 49px;
    margin: 0;
}
.name-block {
    float: left;
    margin-left: 11px;
    vertical-align: middle;
}

.line-block {
    background-color: #3f6fb6;
    bottom: 0;
    height: 7px;
    margin: auto;
    margin-left: 8px;
    position: absolute;
    top: 0;
    width: 100%;
}

.line-align {
    float: left;
    height: 85px;
    position: relative;
    width: 201px;
}

.text {
    font-family: MyriadProRegular;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    width: 484px;
}
.text .bold {
    color: #000000;
    font-size: 18px;
    line-height: 23px;
}
.contact {
    margin-left: 66px;
    margin-top: 51px;
}

.contact-date {
    margin-top: 38px;
}
.contact .circle-inner {
    background-image: url("images/contact.png");
}
.skills .circle-inner {
    background-image: url("images/scills.png");
}
.contact .line-align {
    width: 177px;
}

.skills {
    margin-left: 65px;
    margin-top: 55px;
}

.skills .line-align {
    width: 232px;
}

.contact-date .e-mail {
    padding-top: 3px;
}
.contact-date .phone {
    padding-top: 3px;
}
.contact-date .website {
    padding-left: 1px;
    padding-top: 3px;
}
.contact-date h1 {
    color: #3d6cb0;
    font-family: MyriadProBold;
    font-size: 24px;
    font-weight: normal;
}
.personal-date {
    color: #000000;
    font-family: MyriadProRegular;
}
.address .personal-date {
    padding-left: 54px;
}
.e-mail .personal-date {
    padding-left: 75px;
}
.phone .personal-date {
    padding-left: 74px;
}
.website .personal-date {
    padding-left: 56px;
}

.creative {
    margin-left: 119px;
    margin-top: -11px;
}
.point {
    background-color: #3f6fb6;
    border-radius: 50%;
    float: left;
    height: 21px;
    margin-right: 12px;
    width: 21px;
}
.point.gray {
    background-color: #e6e6e6;
}
.creative-title {
    font-family: MyriadProRegular;
    font-size: 15px;
    font-weight: normal;
    margin-left: 253px;
    margin-top: 68px;
}
.teamwork-title {
    font-family: MyriadProRegular;
    font-size: 15px;
    font-weight: normal;
    margin-left: 236px;
    margin-top: 65px;
}
.innovate-title {
    font-family: MyriadProRegular;
    font-size: 15px;
    font-weight: normal;
    margin-left: 247px;
    margin-top: 65px;
}
.communication-title {
    font-family: MyriadProRegular;
    font-size: 15px;
    font-weight: normal;
    margin-left: 196px;
    margin-top: 65px;
}
.bar {
    background-color: #3f6fb6;
    position: absolute;
}
.progress {
    background-color: #e6e6e6;
    border: 0 none;
    height: 18px;
    width: 80%;
}
