<<<<<<< HEAD
﻿body {

}

.logo {
	padding-top: 20px;
	padding-left: 40px;
}

.circle {
	width: 100px;
	height: 100px;
	background: #3d6cb0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
=======
﻿body {

}

.logo {
	padding-top: 20px;
	padding-left: 40px;
}

.circle {
	width: 100px;
	height: 100px;
	background: #3d6cb0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
>>>>>>> 3bcbea0b7a92a6c98af6f08cf1b286c7a04c1bf2
}